<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add contact</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="add.css">
</head>


<body>
    <div class="container">
        <div id="field" class="field">
            <img id="homeButton" src="src/home.png" onclick="goHome()">
            <h1>CONTACT CREATION</h1>
            <div class="inputs">
                <input type="text" id="name" class="inputField" placeholder="NAME">
                <input type="text" id="email" class="inputField" placeholder="EMAIL">
            </div>
            <form id ="form">
                <input id="button" type="submit" value="ADD CONTACT">
            </form>
            <!--<p class="errMsg">Error - please input a valid email address</p>-->
        </div>
    </div>
    <script src="add.js"></script>
</body>
</html>