<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="contacts.css">
</head>

<body>
    <div class="container">
        <div class="field">
            <h1>CONTACTS</h1>
            <div class="list">
                <img id="placeholderImage" src="src/person.png">
                <ul id="list">
                    <!--
                    <li>
                        <img class="person" src="src/person.png">
                        <div class="details">
                            <p class="Name">John Doe</p>
                            <p class="Email">Email</p>
                            <button class="contact">CONTACT</button>
                        </div>
                        <img class="remove" src="src/remove.png">
                    </li>
                    //-->
                </ul>
            </div>
            <form action="add.html">
                <input id="button" type="submit" value="ADD CONTACT" />
            </form>
        </div>
    </div>
    <script src="contacts.js"></script>
</body>
</html>